<p>LOGIN PAGE</p>
<p class="message-box">Please log in to your Noora Health account</p>

<form role='form' id='login-form'>
  <a class='btn' href='/auth/facebook'>Login in with Facebook</a>
  <a class='btn' href="/auth/google">Login in with Google</a>
  
  <div class='row form-row'>
    <label>Email</label>
    <input type='email' id='email'>
  </div>
  <div class='row form-row'>
    <label>Password</label>
    <input type='password' id='password'>
  </div>
</form>
