<div class="container"> 
  <div class="row center noora-logo"><img src="/images/NHlogo.png"></div>
  <p>Please register for a Noora Health account.</p>
  <a class="btn" href="/auth/facebook">Register with Facebook</a>
  <a class="btn" href="/auth/google">Register with Google</a>

  <form id="registerAccount" action="/register" method="post">
   <div class="row form-row">
     <label>Email</label>
     <input type="email" id="email" name="email">
   </div>
   <div class="row form-row">
     <label>Password</label>
     <input type="password" id="password" name="password">
   </div>
   <div class="row form-row">
     <label>Confirm Password</label>
     <input type="password" id="confirm-password">
   </div>
   <p class="form-row error-message" id="error-message"></p>
   <button id="button-activate" class="btn" type="submit" disabled>Register Account</button>
  </form>
  <p>By registering, you agree to our <a href="privacy">Privacy Policy</a> and <a href="terms"> Terms of Use</p>
  <p>Already have an account? <a href="/login">Login</a></p>
</div>

<script src="register.js"></script>
