/*@import '.meteor/local/build/programs/server/assets/packages/wolves_bourbon/bourbon/_bourbon';*/
/*$modular-scale-ratio: $golden;*/
/*@function calculateRem($size) {*/
/*$remSize: $size / 16px;*/
/*@return $remSize * 1rem;*/
/*}*/
/*@mixin font-size($size) {*/
/*font-size: $size;*/
/*font-size: calculateRem($size);*/
/*}*/
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box; }

*::after, *::before {
  content: ''; }

body {
  color: black;
  background: #E1F5FE;
  margin-bottom: 50px;
  min-height: 50px; }
  body a {
    color: #2ebcfc;
    text-decoration: none; }
    body a:hover {
      color: #03A9F4;
      text-decoration: none; }

footer {
  background-color: #FAFAFA;
  color: #757575;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 8px;
  width: 100%; }
  footer .breadcrumb {
    background-color: #03A9F4;
    color: #0277BD; }

nav {
  background-color: #03A9F4; }

tile {
  position: fixed;
  z-index: 2; }
  tile.round-tile .next, tile.round-tile .logo {
    margin-left: 10px;
    max-width: 60px;
    padding: 10px;
    border-radius: 30px;
    background-color: blue; }
  tile.round-tile .logo {
    background-color: #FFFFFF;
    top: 20; }

td {
  vertical-align: middle;
  width: 100%;
  padding: 10px; }
  td img {
    vertical-align: middle; }

.container {
  padding-bottom: 100px; }

/* -------------------------------- 

Custom NH components 

--------------------------------*/
@media (min-width: 600px) {
  .embedded-video {
    width: 660px;
    height: 480px; } }

@media (max-width: 668px) {
  .embedded-video {
    height: 200px;
    width: 320px; } }

.padding {
  padding: 50px; }

.next-btn-tile {
  -webkit-transition: all, 1s;
  -moz-transition: all, 1s;
  transition: all, 1s;
  background-color: #81D4FA;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  color: #ffffff !important;
  position: absolute;
  right: 20px;
  bottom: 15px; }

.padding-lg {
  padding: 30px; }

.loading-message {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif; }

.sk-spinner-rotating-plane.sk-spinner {
  background-color: #fff; }

.module-footer {
  display: block; }

.done {
  background: green; }

.fullScreen {
  height: 90%;
  width: 100%; }

.uploadOption {
  height: 50px;
  text-align: center;
  margin: 20px;
  padding: 5px; }

.bottom {
  bottom: 0 !important; }

#addModuleModal {
  height: 100%;
  width: 80%; }

.margin-top {
  margin-top: 20px; }

.scrollBox {
  overflow-y: scroll;
  padding: 50px !important; }

.file-input {
  margin-right: 10px;
  font-size: 1em; }

.align-left {
  align: left; }

.noora-entry-logo img {
  width: 100%;
  height: 100%; }

.response {
  width: 48%; }

.module {
  height: 100%; }

.img-with-toasts-wrapper {
  position: relative; }
  .img-with-toasts-wrapper > .inner-toasts-wrapper {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute; }
    .img-with-toasts-wrapper > .inner-toasts-wrapper > .toast-overlay {
      -webkit-transition: all, 0s;
      -moz-transition: all, 0s;
      transition: all, 0s;
      width: 0%;
      margin-right: auto;
      margin-left: auto; }
    .img-with-toasts-wrapper > .inner-toasts-wrapper > .expand-toast {
      -webkit-transition: all, 2s;
      -moz-transition: all, 2s;
      transition: all, 2s;
      width: 50%; }

.module-wrapper {
  text-align: center;
  width: 100%; }

.module-image {
  max-width: 100%; }
  @media (max-width: 600px) {
    .module-image {
      height: 35vh; } }
  @media (min-width: 600px) {
    .module-image {
      height: 50vh; } }

.binary-image {
  height: 40vh; }

@media (max-width: 600px) {
  .padded {
    padding: 10px; } }

@media (min-width: 600px) {
  .padded {
    padding: 40px; } }

.padding-sm {
  padding: 5x; }

.padding-bottom {
  padding-bottom: 10px; }

.padding-top {
  padding-top: 10px; }

.overlay, .darken-overlay, .success-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }

.darken-overlay {
  background-color: rgba(0, 0, 0, 0.5); }

.success-overlay {
  opacity: .7; }

.response-sticker-container {
  position: fixed;
  margin-top: -25px;
  margin-left: -15px;
  width: 60px;
  height: 60px;
  z-index: 1;
  border-radius: 50px; }

.sticker {
  width: 100%;
  height: 100px;
  color: black; }

.move-up-and-expand {
  -webkit-transition: all, 1s;
  -moz-transition: all, 1s;
  transition: all, 1s;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  position: absolute;
  margin-top: -200px;
  margin-left: auto;
  margin-right: auto; }

.row {
  margin: 0; }

.mc_submit_btn {
  width: 100%; }

.hidden-card, .hidden {
  /*@include transform(translate3d(0,-1000, 0));*/
  display: none; }

.slide-down {
  -webkit-transform: translate3d(0, 1000px, 0);
  -moz-transform: translate3d(0, 1000px, 0);
  -ms-transform: translate3d(0, 1000px, 0);
  -o-transform: translate3d(0, 1000px, 0);
  transform: translate3d(0, 1000px, 0); }

.module-card {
  perspective: 1100px;
  width: 100%;
  height: 100%; }

.module-container {
  max-width: 850px;
  position: relative;
  width: 100%; }

.flip-button-container {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  height: 40px; }
  .flip-button-container a {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    letter-spacing: 2px;
    font-size: 20px; }
    .flip-button-container a.back {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg); }

.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.no-border {
  border: none; }

.scenario-btn {
  margin: 4px; }

.binary-btn, .scenario-btn {
  width: 200px; }
  @media (max-width: 992px) {
    .binary-btn, .scenario-btn {
      width: 150px; } }

.radio-btn {
  padding: 8px; }

.dotstyle {
  display: inline-block; }

.dotstyle ul {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  list-style: none; }

.dotstyle li {
  position: relative;
  display: block;
  float: left;
  margin: 0 5px;
  width: 16px;
  height: 16px;
  cursor: pointer; }
  @media (max-width: 768px) {
    .dotstyle li {
      width: 10px;
      height: 10px;
      margin: 0 3px; } }

.dotstyle li a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #81D4FA;
  text-indent: -999em;
  cursor: pointer;
  position: absolute; }

.dotstyle-scaleup li a {
  -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease; }

.dotstyle-scaleup li a:hover,
.dotstyle-scaleup li a:focus {
  opacity: 1;
  background-color: #E1F5FE; }

.dotstyle-scaleup li.current a {
  background-color: #03A9F4;
  -webkit-transform: scale(1.5);
  transform: scale(1.5); }

.module-navigation-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center; }

.add-margin {
  margin-bottom: 20px; }

.panel > .panel-heading {
  background-color: #FAFAFA; }

.navbar {
  background-color: #03A9F4; }

.middle {
  height: 100%;
  vertical-align: middle; }

.padding-bottom-lg {
  padding-bottom: 30px; }

.panel {
  background-color: #FAFAFA; }

.next-module-btn {
  -webkit-transition: all, 1s;
  -moz-transition: all, 1s;
  transition: all, 1s;
  letter-spacing: 2px;
  font-size: 20px;
  width: 150px;
  margin-left: 100px;
  /*width: 100%;*/ }
  .next-module-btn:hover {
    background-color: white; }
  @media (min-width: 600px) {
    .next-module-btn {
      width: 200px; } }
  @media (max-width: 600px) {
    .next-module-btn {
      width: 150px; } }

.image-choice {
  width: 100%;
  cursor: pointer;
  height: 17vh; }

.correctly_selected {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition: scale, 1s;
  -moz-transition: scale, 1s;
  transition: scale, 1s;
  border: 4px solid #4caf50; }

.selected {
  border: 4px solid #03A9F4; }

.incorrectly_selected {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition: scale, 1s;
  -moz-transition: scale, 1s;
  transition: scale, 1s;
  border: 4px solid #f44336; }

.expanded {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition: scale, 2s;
  -moz-transition: scale, 2s;
  transition: scale, 2s; }
  @media (min-width: 600px) {
    .expanded {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); } }
  @media (max-width: 600px) {
    .expanded {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); } }

.faded {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -ms-transform: scale(0.75);
  -o-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-transition: 2s;
  -moz-transition: 2s;
  transition: 2s;
  opacity: 0.5; }

.slide img {
  width: 100%; }

video {
  width: 100%; }

.section-panel {
  display: inline-block;
  width: 90%;
  background-color: #FAFAFA; }
  .section-panel img {
    width: 40%;
    padding: 5px;
    vertical-align: middle; }
  .section-panel span {
    vertical-align: middle; }

.lesson-panel {
  background-color: #FAFAFA;
  color: #333;
  border: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
  padding: 8px; }
  .lesson-panel img {
    width: 100%; }

.greyed-out {
  opacity: .75;
  -webkit-opacity: .75;
  -moz-opacity: .75; }

.greyed-out:hover {
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1; }

.chapter-card {
  padding: 8px;
  height: 100%; }
  @media (min-width: 600px) {
    .chapter-card {
      margin: 10px; } }

/*@media (max-width: 768px) {*/
/*.lesson-panel {*/
/*max-width: 500px;*/
/*font-size: 80%;*/
/*}*/
/*}*/
.chapter-card-image {
  height: 75%; }
  .chapter-card-image img {
    max-height: 100%;
    max-width: inherit !important; }

/*@media (max-width: 992px) {*/
/*.chapter-card-image {*/
/*max-width: 400px;*/
/*margin-right: auto;*/
/*margin-left: auto;*/
/*}*/
/*}*/
/*@media (min-width: 768px) {*/
/*.lesson-panel {*/
/*max-width: 700px;*/
/*}*/
/*}*/
/* -------------------------------- 

Main components 

--------------------------------*/
html, body {
  height: 100%; }

.cd-panel {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -moz-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s; }
  .cd-panel::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
    -webkit-transition: background 0.3s 0.3s;
    -moz-transition: background 0.3s 0.3s;
    transition: background 0.3s 0.3s; }
  .cd-panel.is-visible {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s; }
    .cd-panel.is-visible::after {
      background: rgba(0, 0, 0, 0.6);
      -webkit-transition: background 0.3s 0s;
      -moz-transition: background 0.3s 0s;
      transition: background 0.3s 0s; }
    .cd-panel.is-visible .cd-panel-close::before {
      -webkit-animation: cd-close-1 0.6s 0.3s;
      -moz-animation: cd-close-1 0.6s 0.3s;
      animation: cd-close-1 0.6s 0.3s; }
    .cd-panel.is-visible .cd-panel-close::after {
      -webkit-animation: cd-close-2 0.6s 0.3s;
      -moz-animation: cd-close-2 0.6s 0.3s;
      animation: cd-close-2 0.6s 0.3s; }

@-webkit-keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0); }
  100% {
    -webkit-transform: rotate(45deg); } }

@-moz-keyframes cd-close-1 {
  0%, 50% {
    -moz-transform: rotate(0); }
  100% {
    -moz-transform: rotate(45deg); } }

@keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); } }

@-webkit-keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0); }
  100% {
    -webkit-transform: rotate(-45deg); } }

@-moz-keyframes cd-close-2 {
  0%, 50% {
    -moz-transform: rotate(0); }
  100% {
    -moz-transform: rotate(-45deg); } }

@keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

.cd-panel-header {
  position: fixed;
  padding-left: 15px;
  width: 90%;
  height: 50px;
  line-height: 50px;
  background: rgba(3, 169, 244, 0.96);
  z-index: 2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: top 0.3s 0s;
  -moz-transition: top 0.3s 0s;
  transition: top 0.3s 0s; }
  .cd-panel-header h1 {
    color: #292929;
    padding-left: 5%; }
  .from-right .cd-panel-header, .from-left .cd-panel-header {
    top: -50px; }
  .from-right .cd-panel-header {
    right: 0; }
  .from-left .cd-panel-header {
    left: 0; }
  .is-visible .cd-panel-header {
    top: 0;
    -webkit-transition: top 0.3s 0.3s;
    -moz-transition: top 0.3s 0.3s;
    transition: top 0.3s 0.3s; }
  @media only screen and (min-width: 768px) {
    .cd-panel-header {
      width: 60%; } }
  @media only screen and (min-width: 1170px) {
    .cd-panel-header {
      width: 40%; } }

.cd-panel-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }
  .cd-panel-close::before, .cd-panel-close::after {
    position: absolute;
    top: 22px;
    left: 20px;
    height: 3px;
    width: 20px;
    background-color: #333;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .cd-panel-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .cd-panel-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .no-touch .cd-panel-close:hover {
    background-color: #03A9F4; }
    .no-touch .cd-panel-close:hover::before, .no-touch .cd-panel-close:hover::after {
      background-color: #0277BD;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    .no-touch .cd-panel-close:hover::before {
      -webkit-transform: rotate(220deg);
      -moz-transform: rotate(220deg);
      -ms-transform: rotate(220deg);
      -o-transform: rotate(220deg);
      transform: rotate(220deg); }
    .no-touch .cd-panel-close:hover::after {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }

.cd-panel-container {
  position: fixed;
  width: 90%;
  height: 100%;
  top: 0;
  background: #FAFAFA;
  z-index: 1;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s; }
  .from-right .cd-panel-container {
    right: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  .from-left .cd-panel-container {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  .is-visible .cd-panel-container {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s; }
  @media only screen and (min-width: 768px) {
    .cd-panel-container {
      width: 60%; } }
  @media only screen and (min-width: 1170px) {
    .cd-panel-container {
      width: 40%; } }

.cd-panel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70px 5%;
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch; }
  .cd-panel-content a {
    color: #1a1a1a;
    text-decoration: none; }
    .cd-panel-content a:hover {
      color: black;
      text-decoration: none; }
  .cd-panel-content p, .cd-panel-content li {
    color: #03A9F4;
    line-height: 1.4;
    margin: 2em 0; }
    .cd-panel-content p:first-of-type, .cd-panel-content li:first-of-type {
      margin-top: 0; }
