<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.noorahealth.app"
        versionCode = "1" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Online Interactive Curriculum</name>

    <description>
        Noora Health's online interactive curriculum
    </description>

    <author href="https://app.noorahealth.org" email="lucy@noorahealth.org">
        Lucy Richards
    </author>

    <gap:platform name="android" />

</widget>
